/**************** padding and margin settings *****************

  Borrowed From Kianosh Pourian's excellent "Sass in Depth" book
  https://github.com/kianoshp/SASS-CSS-Boilerplate/blob/master/sass/padding-margin.scss

  Setting padding and margins to be added to different sections
  This sections contains individual setting and also a mixin
  to be able to add to different sections

  spacing helpers
  p,m = padding,margin
  a,t,r,b,l,v,h = all,top,right,bottom,left,vertical,horizontal
  s,m,l,n = small(5px),medium(10px),large(20px),none(0px)

  This scss will create an example of the following:
  .pts, .pas, .pvs {
      padding-top: 5px !important; }

  .ptm, .pam, .pvm {
      padding-top: 10px !important; }

  .ptl, .pal, .pvl {
      padding-top: 20px !important; }

**************************************************************/
.pts, .pas, .pvs {
  padding-top: 0.625rem !important; }

.ptm, .pam, .pvm {
  padding-top: 1.25rem !important; }

.ptl, .pal, .pvl {
  padding-top: 2.5rem !important; }

.ptn, .pan, .pvn {
  padding-top: 0rem !important; }

.prs, .pas, .phs {
  padding-right: 0.625rem !important; }

.prm, .pam, .phm {
  padding-right: 1.25rem !important; }

.prl, .pal, .phl {
  padding-right: 2.5rem !important; }

.prn, .pan, .phn {
  padding-right: 0rem !important; }

.pbs, .pas, .pvs {
  padding-bottom: 0.625rem !important; }

.pbm, .pam, .pvm {
  padding-bottom: 1.25rem !important; }

.pbl, .pal, .pvl {
  padding-bottom: 2.5rem !important; }

.pbn, .pan, .pvn {
  padding-bottom: 0rem !important; }

.pls, .pas, .phs {
  padding-left: 0.625rem !important; }

.plm, .pam, .phm {
  padding-left: 1.25rem !important; }

.pll, .pal, .phl {
  padding-left: 2.5rem !important; }

.pln, .pan, .phn {
  padding-left: 0rem !important; }

.mts, .mas, .mvs {
  margin-top: 0.625rem !important; }

.mtm, .mam, .mvm {
  margin-top: 1.25rem !important; }

.mtl, .mal, .mvl {
  margin-top: 2.5rem !important; }

.mtn, .man, .mvn {
  margin-top: 0rem !important; }

.mrs, .mas, .mhs {
  margin-right: 0.625rem !important; }

.mrm, .mam, .mhm {
  margin-right: 1.25rem !important; }

.mrl, .mal, .mhl {
  margin-right: 2.5rem !important; }

.mrn, .man, .mhn {
  margin-right: 0rem !important; }

.mbs, .mas, .mvs {
  margin-bottom: 0.625rem !important; }

.mbm, .mam, .mvm {
  margin-bottom: 1.25rem !important; }

.mbl, .mal, .mvl {
  margin-bottom: 2.5rem !important; }

.mbn, .man, .mvn {
  margin-bottom: 0rem !important; }

.mls, .mas, .mhs {
  margin-left: 0.625rem !important; }

.mlm, .mam, .mhm {
  margin-left: 1.25rem !important; }

.mll, .mal, .mhl {
  margin-left: 2.5rem !important; }

.mln, .man, .mhn {
  margin-left: 0rem !important; }

/***************** end padding and margin settings *************/
body {
  font-family: 'Open Sans', sans-serif;
  background: #171617;
  color: #F1F1F1; }

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #FFF; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em; }

h1, h2 {
  color: #F8842E; }

small {
  font-size: 70%; }

strong {
  font-weight: 600; }

p {
  color: #BBB;
  font-size: 1.1rem;
  line-height: 2em; }
  p.shrink {
    font-size: 0.9rem; }

.loud {
  color: #F8842E;
  font-weight: bold; }

li {
  color: #BBB;
  line-height: 2em; }

hr {
  border-color: #222222;
  margin: 3rem 1rem; }

a {
  color: #F8842E; }

a:hover, a:focus {
  color: #e16408; }

a.disabled {
  pointer-events: none; }

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

button,
.button {
  background: transparent;
  color: #F8842E;
  font-family: 'Raleway', sans-serif;
  padding: 14px 6px;
  font-size: 1.1em;
  font-weight: 200;
  outline: 0;
  transition: none; }

button:hover,
.button:hover,
button:focus,
.button:focus {
  background: rgba(0, 0, 0, 0.25);
  color: #e16408; }

table {
  width: 100%;
  border: none; }

tr {
  height: 40px;
  background: #f0f0f0; }

th {
  background: #F8842E;
  color: #fff !important;
  font-weight: 200; }

.keyline-all {
  border: 1px solid #777777; }

.keyline-left {
  border-left: 1px solid #777777; }

.keyline-right {
  border-right: 1px solid #777777; }

.keyline-top {
  border-top: 1px solid #777777; }

.keyline-bottom {
  border-bottom: 1px solid #777777; }

.divider {
  padding: 20px 0; }

.caps {
  text-transform: uppercase; }

.arrow {
  height: 0;
  width: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 14px solid #323538;
  /* or to make equal sides:; border-left-width + border-right-width * 0.866 */ }

.arrow.down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

header {
  width: 100%;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-bottom: 1px solid #777777;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  header.header-home {
    min-height: 700px; }
  header .masthead,
  header nav {
    margin-top: 8px; }
  header .masthead {
    position: relative; }
  header .masthead a:after {
    position: absolute;
    content: 'beta';
    font-size: 0.8rem;
    color: #DDD;
    right: -18px;
    top: 4px; }
  header .header-body button {
    border-color: #777777;
    color: #F8842E;
    margin: 0 !important;
    line-height: 2rem; }
  header .header-body button:hover {
    color: #e16408; }
  header h2 {
    color: #F1F1F1; }
  header p {
    color: #F1F1F1;
    font-size: 1.1rem; }
  header nav {
    position: fixed;
    top: 12px;
    right: 22px;
    z-index: 2;
    font-family: 'Raleway', sans-serif; }
  header nav ul {
    border-radius: 2px;
    list-style-type: none; }
  header nav ul li {
    display: inline-block;
    font-weight: 200; }
  header nav ul a {
    background-color: #323538;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 10px;
    border: 1px solid #777777;
    border-left: 0; }
  header nav ul li:last-child a {
    border-right: 0; }
  header nav a.active,
  header .small-nav a.active {
    color: #F8842E; }
  header nav a:hover {
    color: #F8842E;
    background-color: rgba(0, 0, 0, 0.3); }
  header .small-nav a:hover {
    color: #F8842E; }
  header nav ul a,
  header nav a:active,
  header .small-nav a,
  header .small-nav a:active {
    color: #F1F1F1; }
  header .small-nav {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block; }

#tutorial .tutorial-page {
  width: 100%;
  padding: 60px 40px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.3s;
  overflow: hidden; }
#tutorial .tutorial-page p {
  color: #F1F1F1;
  font-size: 1.1rem; }
#tutorial .tutorial-page p strong {
  font-weight: inherit;
  color: #F8842E; }
#tutorial .tutorial-page .tutorial-body {
  position: relative;
  background-color: #171617;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); }
#tutorial .tutorial-page .tutorial-image {
  height: 300px; }
#tutorial .tutorial-page[data-index="1"] {
  background-color: #f8ffcc; }
#tutorial .tutorial-page[data-index="2"] {
  background-color: #f9e1a9; }
#tutorial .tutorial-page[data-index="3"] {
  background-color: #fbc487; }
#tutorial .tutorial-page[data-index="4"] {
  background-color: #fda665; }
#tutorial .tutorial-page[data-index="5"] {
  background-color: #ff8943; }

#guide img {
  float: right;
  margin: 0px 0px 15px 15px;
  width: 40%;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease; }
#guide img:hover {
  width: 100%; }

#leaderboard,
#countries {
  margin-top: 3rem;
  margin-bottom: 8rem; }

#leaderboard li.tab-title {
  padding: 0;
  display: inline;
  float: none; }
  #leaderboard li.tab-title a {
    background: transparent;
    color: #323538;
    padding: 12px;
    display: inline; }
  #leaderboard li.tab-title a:hover {
    color: #7AE0FD; }
  #leaderboard li.tab-title.active a,
  #leaderboard li.tab-title a:active {
    color: #F8842E; }
#leaderboard .tabs-content .content {
  padding: 0; }
#leaderboard ul {
  margin: 0; }
#leaderboard li.head-row {
  color: #999;
  border-bottom: 1px solid #323538; }
#leaderboard li.top-editor {
  list-style: none;
  color: #CCC;
  padding-top: 6px;
  border-bottom: 1px solid #222; }
  #leaderboard li.top-editor a.active,
  #leaderboard li.top-editor a:hover {
    color: #7AE0FD; }
  #leaderboard li.top-editor a:active {
    color: #4C8B9E; }

#countries .country {
  height: 250px;
  border-right: 1px solid #323538;
  border-bottom: 1px solid #323538; }
#countries .country.last-col {
  border-right: 0; }
#countries .country.last-row {
  border-bottom: 0; }
#countries .country h4 {
  clear: both;
  color: #777777;
  font-size: 1.1rem; }
#countries .country a:hover .mg {
  color: #F8842E; }
#countries .country a:hover h4 {
  color: #FFF; }
#countries .country .mg,
#countries .country a:active {
  color: #EEE; }
#countries .country .disabled .mg {
  color: #323538; }
#countries .country .mg-fw:before {
  vertical-align: middle;
  /* vertically center mapglyph */ }

.footer {
  background: #323538;
  border-top: 4px solid #777; }

.footer .logos {
  text-align: center;
  padding-bottom: 12px; }

.footer .logos h4 {
  color: #BBB; }

.logos a {
  display: inline-block;
  padding: 12px; }

.logos a img {
  height: 40px; }

.footer ul li {
  display: inline-block;
  float: none; }

.footer ul a {
  font-size: 0.8em;
  font-weight: 200;
  color: #fff;
  line-height: 2em; }

.footer ul a:hover {
  color: #ddd; }

.error-404 p {
  color: #aaa; }

.error-404 span {
  color: #F8842E; }

.clearfix {
  display: block; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.striped {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAACVBMVEWZmZmZmZn///+JQwtGAAAAAXRSTlMAQObYZgAAAAFiS0dEAmYLfGQAAAAJcEhZcwAALiMAAC4jAXilP3YAAAAbSURBVAjXY3BgZWAQZWAIYWAMYGB1gDAZAhgBFtcB/4QtqrAAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDEtMDlUMTY6NTU6NDQtMDU6MDAXVyIiAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTAxLTA5VDE2OjU1OjQ0LTA1OjAwZgqangAAAABJRU5ErkJggg==); }

.dot-pattern {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-image: url("img/dot-matrix.png"); }

@media only screen and (max-width: 900px) {
  html {
    font-size: 0.9rem; } }
@media only screen and (max-width: 770px) {
  html {
    font-size: 0.8rem; } }
@media only screen and (max-width: 640px) {
  html {
    font-size: 0.7rem; }

  #countries .country.last-col,
  #countries .country.last-row {
    border: 0;
    border-bottom: 1px solid #323538; }

  #countries .country.last-row:last-child {
    border: 0; }

  .masthead a:after {
    display: none; } }