

.intro {
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(country.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}

.intro .intro-body .intro-text {
    font-size: 25px;
    color:#000000;
}

#myCarousel img {
  width: auto;
  height: 400px;
}

#myCarousel h1 {
  color: #FFFFFF;
}